<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.tools.emf.ui.editors">
      <editor
            descriptorClass="com.example.e4.todo.model.extension.editor.MyOwnPartEditorDescriptor">
      </editor>
      <editor
            descriptorClass="com.example.e4.todo.model.extension.editor.PartStackExtensionEditorDescriptor">
      </editor>
   </extension>

</plugin>
